.standardText
{ 
    font: normal normal normal 20px/26px Dosis;
    color: white!important;
}


@media (max-width: 1000px) {

    .navLogo{
        display: none;
    }
}

.navbarAdjust
{
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: center;
    align-items: end;
}

.header
{
    background-color: #000324;
}

.taglineBG
{
    background-image:url(../assets/images/header.jpg);
    width: auto; 
    height: 500px; 
    background-position-y: 55%;
    background-size: cover;
}

.roomsBG
{
    background-image:url(../assets/images/bg2.jpg);
    width: auto; 
    height: 100%; 
    background-position: 60%;
    background-size: cover;
}

.amenitiesBG
{
    background-image:url(../assets/images/bg.jpg);
    width: auto; 
    height: 100%; 
    background-position: 60%;
    background-size: cover;
}

.taglineHero
{
    background-color: #000324CC; 
    width: 945px;
    position: relative;
    top: 140px;
}

.reserveBtn
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.bg
{
    max-height: auto;
    object-fit: cover;
}

h1
{
    font-size: 48px;
    font-weight: lighter;
}

h2
{
    font-weight: lighter;
}

h4
{
    font-size: 16px;
    font-weight: lighter;
    color: #1F51A8;
}

h5
{
    font-weight: lighter;
}

h6
{
    font-weight: bold;
}

li
{
    font-size: 16px;
    font-weight: lighter;
}

.amenitiesImages{
    width: 60%;
    height: 60%;
    object-fit: contain;
}