.standardText
{ 
    font: normal normal normal 20px/26px Dosis;
    color: white;
}

.header
{
    background-color: #000324;
}

.taglineBG
{
    background-image:url(../assets/images/header.jpg);
    width: auto; 
    height: 600px; 
    background-position: 60%;
    background-size: cover;
}

.roomsBG
{
    background-image:url(../assets/images/bg2.jpg);
    width: auto; 
    height: 800px; 
    background-size: cover;
    background-position: 60%;
    
}

.taglineHero
{
    background-color: #000324CC; 
    width: 945px;
    position: relative;
    top: 160px;
}

.reserveBtn
{
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.bg
{
    max-height: auto;
    object-fit: cover;
}

h1
{
    font-size: 45px;
    font-weight: lighter;
}

h2
{
    font-weight: lighter;
}

h6
{
    font-weight: bold;
}

li
{
    font-size: 16px;
    font-weight: lighter;
}